
.btn-white {
    color: #214AC2;
    font-size: 1.563rem;
    display: flex;
    width: 100%;
    max-width: 387px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: white;
    justify-content: center;
    border: 1px solid white;
    &:hover {
        background: #214AC2;
        color: white;
        transition: 0.5s all ease-in-out;
        text-decoration: none;
    }

}
