
.btn-white {
    color: #214AC2;
    font-size: 1.563rem;
    display: flex;
    width: 100%;
    max-width: 387px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: white;
    justify-content: center;
    border: 1px solid white;
    transition: 0.5s all ease-in-out;

    &:hover {
        background: #214AC2;
        color: white;
        text-decoration: none;
    }

}
.btn-transparent {
    color: #214AC2;
    font-size: 1.563rem;
    display: flex;
    width: 100%;
    max-width: 387px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: white;
    justify-content: center;
    border: 1px solid #214AC2;
    transition: 0.5s all ease-in-out;

    &:hover {
        background: #214AC2;
        color: white;
        text-decoration: none;
    }
}

.btn-white {
    color: #141712;
    font-size: 1.563rem;
    display: flex;
    width: 100%;
    max-width: 387px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: white;
    justify-content: center;
    border: 1px solid #141712;
    transition: 0.5s all ease-in-out;

    &:hover {
        background: #214AC2;
        border-color: #214AC2;
        text-decoration: none;
    }
}

body.defence {
    .btn-white {
        background: transparent;
        color: white;
        border-color: white;
        &:hover {
            background: #214AC2;
            border-color: #214AC2;
            text-decoration: none;
        }
    }
}