
.btn-white {
    color: #214AC2;
    font-size: 1.563rem;
    display: flex;
    width: 100%;
    max-width: 387px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: white;
    justify-content: center;
    border: 1px solid white;
    transition: 0.5s all ease-in-out;

    &:hover {
        background: #214AC2;
        color: white;
        text-decoration: none;
    }

}

.btn-border {
    color: #214AC2;
    font-size: 1.563rem;
    display: flex;
    width: 100%;
    max-width: 387px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: white;
    justify-content: center;
    border: 1px solid white;
    transition: 0.5s all ease-in-out;
    background: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
        background: white;
        color: black;
        text-decoration: none;
    }

}
.btn-black {
    color: white;
    font-size: 1.563rem;
    display: flex;
    width: 100%;
    max-width: 387px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: black;
    justify-content: center;
    border: 1px solid black;
    transition: 0.5s all ease-in-out;
    color: white;
    text-transform: uppercase;
    font-weight: 400;

    &:hover {
        background: white;
        color: black;
        text-decoration: none;
    }

}
.btn-transparent {
    color: #214AC2;
    font-size: 1.563rem;
    display: flex;
    width: 100%;
    max-width: 387px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: white;
    justify-content: center;
    border: 1px solid #214AC2;
    transition: 0.5s all ease-in-out;
    background: unset;
    border: 1px solid white;
    color: white;

    &:hover {
        background: #214AC2;
        color: white;
        text-decoration: none;
    }
}
.btn-transparent-white {
    color: black;
    font-size: 1.563rem;
    display: flex;
    width: 100%;
    max-width: 387px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: white;
    justify-content: center;
    border: 1px solid black;
    transition: 0.5s all ease-in-out;


    &:hover {
        background: black;
        color: white;
        text-decoration: none;
    }
}




body.defence {
    .btn-white {
        background: transparent;
        color: white;
        border-color: white;
        &:hover {
            background: #214AC2;
            border-color: #214AC2;
            text-decoration: none;
        }
    }
}