.footer {
    
    background: #F0F0F0;
    padding: 4rem 0;
    padding-bottom: 2rem;
    position: relative;
    z-index: 50;
    &-socials {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        a {
            display: flex;
            margin-right: 1rem;
            @media screen and (max-width: 776px) { 
                margin: 0rem 1rem;
            }
        }
    }
    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        margin-bottom: 2rem;

        @media screen and (max-width: 991px) {  
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 776px) {  
            grid-template-columns: 1fr;
            grid-gap: 3rem;
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 776px) {  
            align-items: center;
            justify-content: center;
        }
        img {
            max-width: 270px;
        }
            
        h3 {
            font-weight: bold;
            font-size: 1.25rem;
            text-align: left;
            color: #141712;
            margin-bottom: 1rem;
        }
        ul {
            padding: 0;
            list-style: none;
            margin: 0;
            
            
            li {
                @media screen and (max-width: 776px) {   
                    text-align: center;
                }
                line-height: 1.75;
                a {
                    font-family: "Roboto";
                    font-weight: 300;
                    font-size: 1.25rem;
                    text-align: left;
                    color: #141712;
                }
            }
        }
        p {
            font-family: "Roboto";
            font-weight: 300;
            font-size: 1.25rem;
            text-align: left;
            color: #141712;
            line-height: 1.75;
            @media screen and (max-width: 776px) {   
                text-align: center;
            }
        }

        &.start {
            p {
                font-size: 0.938rem;
                margin-top: 2rem;
            }
        }
    }
    &-copyright {
        font-family: "Roboto";
        font-weight: 300;
        font-size: 15px;
        text-align: left;
        color: #141712;
        opacity: 0.5;
        @media screen and (max-width: 776px) {   
            text-align: center;
        }

    }
}

.dark-product {
    display: none;
}

body.defence {
    .footer {
        background: #242622;
        ul li a, p, h3, .socials a, &-copyright {
            color: white;
        }
    }
    .white-product {
        display: none;
    }
    .dark-product {
        display: block;
    }
}