.footer {
    
    background: white;
    padding: 4rem 0;
    padding-bottom: 2rem;
    position: relative;
    z-index: 50;
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-logo {
            display: block;
            margin-bottom: 2rem;
        }
        &-socials {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 3rem;
            p {
                font-size: 0.938rem;
                color: #27348B;
                margin-bottom: .5rem;
            }
            &-wrap {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                
                a {
                    display: flex;
                    margin-right: 1rem;
                    @media screen and (max-width: 776px) { 
                        margin: 0rem 1rem;
                    }
                }
            }
            
           
        }
        ul {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 2rem;
            @media screen and (max-width: 991px) {
                flex-direction: column;
            }
            li {
                margin: 0 2rem;
                a {
                    font-size: 0.938rem;
                    text-transform: uppercase;
                    color: #27348B;
                }
            }
        }
        &-copyright {
            font-size: 0.938rem;
            color: #27348B;
            opacity: 0.5;
        }
    }
}

.dark-product {
    display: none;
}
.footer-content-logo-white {
    display: none;
}
body.defence {
    .footer {
        background: #141712;
        ul li a, p, h3, .socials a, &-copyright {
            color: white;
        }
        svg {
            path {
                fill: white;
            }
            #Path_22, #Path_23 {
                fill: #141712;
            }
            
            
            
        }
        .footer-content-copyright {
            color: white;
        }
        .footer-content-logo-white {
            display: block;
            margin-bottom: 2rem;
        }
        .footer-content-logo {
            display: none;
        }
    }
    .white-product {
        display: none;
    }
    .dark-product {
        display: block;
    }
    
}